# venv files
.venv

#pycache
__pycache__/

#locally stored data files
*.fits
*.json
*.xml
generated/ST_DataModel*
generated/ST_FitsDataModel*

# build artifacts
dist/
build/
*.egg-info/

run.py
testscript.py
